# Copyright (c) 2025 mike1808
# SPDX-License-Identifier: MIT

config SHIELD_CYGNUS_DONGLE
    def_bool $(shields_list_contains,cygnus_dongle)

config SHIELD_CYGNUS_LEFT
    def_bool $(shields_list_contains,cygnus_left)

config SHIELD_CYGNUS_RIGHT
    def_bool $(shields_list_contains,cygnus_right)
