#include "corne_config.dtsi"
#include "common_keymap.dtsi"

/ {
  keymap {
    compatible = "zmk,keymap";

    default_layer {
// -----------------------------------------------------------------------------------------
// |  TAB |  Q        |  W       |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | "|"  |
// |  ESC |  A        |  S       |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
// | SHFT |  LCTRL/Z  |  LALT/X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
//                    | GUI | SPC | BKSP/LWR |   | RSE | ENT  | ALT |
      bindings = <
   __________QWERTY_L1__________   __________QWERTY_R1__________
   __________QWERTY_L2__________   __________QWERTY_R2__________
   __________QWERTY_L3__________   __________QWERTY_R3__________
   &lswp  &kp SPACE   &lt_qk LOW BKSP   &lt_qk RSE DEL  &kp RET &rswp
          >;
      };

			hands_swap {
            bindings = <
    &kp PIPE  &ht N0 P          &ht N9 O         &ht N8 I  &ht N7 U &ht N6 Y           &ht N5 T &ht N4 R  &ht N3 E &ht N2 W      &ht N1 Q        &ht GRAVE TAB   
    &kp SQT   &kp SEMI          &kp L            &kp K     &kp J    &kp H              &kp G    &kp F     &kp D    &kp S         &kp A           &kp ESC         
    &sk RSHFT &mt_sk RCTRL FSLH &mt_sk RALT DOT  &kp COMMA &kp M    &kp N              &kp B    &kp V     &kp C    &mt_sk LALT X &mt_sk LCTRL Z  &sk LSHFT       
                                &trans &kp RET &lt_qk RSE DEL              &lt_qk LOW BKSP &kp SPACE &trans
                >;
            };

      lower_layer {
// -----------------------------------------------------------------------------------------
// |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
// | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
// | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
//                    | GUI |     | SPC |   | ENT |     | ALT |
        bindings = <
   ___________LOWER_L1__________   ___________LOWER_R1__________
   ___________LOWER_L2__________   ___________LOWER_R2__________
   ___________LOWER_L3__________   ___________LOWER_R3__________
   _________THUMB3_LOWER_L______   _________THUMB3_LOWER_R______
                >;
        };

        raise_layer {
// -----------------------------------------------------------------------------------------
// |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
// | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
// | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
//                    | GUI |     | SPC |   | ENT |     | ALT |
          bindings = <
   ___________RAISE_L1__________   ___________RAISE_R1__________
   ___________RAISE_L2__________   ___________RAISE_R2__________
   ___________RAISE_L3__________   ___________RAISE_R3__________
   _________THUMB3_RAISE_L______   _________THUMB3_RAISE_R______
                  >;
          };

          adjust_layer {
// -----------------------------------------------------------------------------------------
// | BOOT  |           |      |      |      |      |      |      |      |      |      |      | BOOT  |
// | RESET |  RGB_TOG  |      |      |      |      |      |      |      |      |      |      | RESET |
// | BTCLR |  BT1      | BT2  | BT 3 | BT4  | BT5  |      |      |      |      |      |      |       |
//                 |     |     |     |        |      |     |     |
            bindings = <
   __________ADJUST_L1__________   __________ADJUST_R1__________
   __________ADJUST_L2__________   __________ADJUST_R2__________
   __________ADJUST_L3__________   __________ADJUST_R3__________
   _________THUMB3_ADJUST_L_____   _________THUMB3_ADJUST_R_____
                >;
            };

       };  
};

